@import url('https://fonts.googleapis.com/css?family=Lato');

/* Reset */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, Helvetica,sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0.75rem 0;
  line-height: 1.5rem;
}

/* Utility Classes */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align:center;
}

.text-primary {
  color: #93cb52;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #93cb52;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  font-weight: 400;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
   font-weight: 400;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.btn {
  display: inline-block;
  color: #fff;
  background:  rgb(235, 174, 7);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

.btn:hover {
  background: rgb(167, 127, 17);
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  bottom:0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

/* Showcase */

#showcase .container {
  display: flex;
  justify-content: center;
}

#showcase .container img {
display: block;
width: 250px;
height: 400px;
}

/* Author */

#author .container{
display: flex;
justify-content: center;
align-items: center;
}

#author .container img {
  display: block;
  height: 360px;
  width: 430px;
  /* border-radius: 50%; */
  
}

#author .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#testimonials h2 {
  color: #000;
  text-align: center;

}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* * Contact Form */ 

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus, 
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}
